include LICENSE
include README.md
include pyproject.toml
include CHANGELOG.md

# Include internal data
recursive-include pymkm/data *.txt
recursive-include pymkm/data *.json

# Include only in source distribution (sdist)
recursive-include examples *

# Prune dev/cache/build dirs
prune .pytest_cache
prune .spyproject
prune dist

# Exclude dev scripts and leftover files
global-exclude *.sh
global-exclude .gitignore
